.w3l-recent-work-hobbies .recent-work {
    padding: 70px 0 70px;
}

.w3l-recent-work-hobbies .color-white {
    background: var(--grid-color);
    padding: 40px 30px;
    border-radius: 10px;
    border: 1px solid var(--grid-color);
}

.w3l-recent-work-hobbies .icon-back {
    background: var(--bg-color);
    transition: .3s ease-in;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin: 0px auto 30px;
}

    .w3l-recent-work-hobbies .icon-back span.fa {
        font-size: 30px;
        color: #fa26a0;
        width: 50px;
        line-height: 80px;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

.w3l-recent-work-hobbies .color-white h5 a {
    color: var(--para-sub-color);
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    display: inline-block;
}

    .w3l-recent-work-hobbies .color-white h5 a:hover {
        color: #05dfd7;
    }

.w3l-recent-work-hobbies .about-line-top:nth-child(4),
.w3l-recent-work-hobbies .about-line-top:nth-child(5),
.w3l-recent-work-hobbies .about-line-top:nth-child(6) {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .w3l-recent-work-hobbies .recent-work {
        padding: 60px 0px 60px;
    }

    .w3l-recent-work-hobbies .about-line-top:nth-child(4),
    .w3l-recent-work-hobbies .about-line-top:nth-child(5),
    .w3l-recent-work-hobbies .about-line-top:nth-child(6),
    .w3l-recent-work-hobbies .about-line-top:nth-child(3) {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .w3l-recent-work-hobbies .about-line-top:nth-child(4),
    .w3l-recent-work-hobbies .about-line-top:nth-child(5),
    .w3l-recent-work-hobbies .about-line-top:nth-child(6),
    .w3l-recent-work-hobbies .about-line-top:nth-child(3) {
        margin-top: 30px;
    }

    .w3l-recent-work-hobbies .color-white h5 a {
        margin-bottom: 7px;
    }

    .w3l-recent-work-hobbies .icon-back {
        margin-bottom: 15px;
    }

    .w3l-recent-work-hobbies .color-white {
        padding: 30px 20px;
    }

    .w3l-recent-work-hobbies .icon-back {
        height: 65px;
        width: 65px;
    }

        .w3l-recent-work-hobbies .icon-back span.fa {
            font-size: 22px;
            line-height: 65px;
        }
}

@media (max-width: 568px) {
    .w3l-recent-work-hobbies .about-line-top:nth-child(2) {
        margin-top: 30px;
    }
}

@media (max-width: 440px) {
    .w3l-recent-work-hobbies .recent-work {
        padding: 40px 0px 40px;
    }
}

.w3l-services-two {
    /*-- features4 --*/
}

    .w3l-services-two .service-single-page {
        padding: 0px 0 70px;
    }

    .w3l-services-two .service-grids {
        align-items: center;
        padding-bottom: 60px;
        border-bottom: 1px solid var(--grid-color);
    }

        .w3l-services-two .service-grids:nth-child(2) {
            border: none;
        }

    .w3l-services-two .cwp4-text h3, .w3l-services-two .service-grid h3 {
        color: var(--header-title-color);
        line-height: 45px;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    .w3l-services-two .service-grids:nth-child(2) {
        margin-top: 50px;
    }

@media all and (max-width: 991px) {
    .w3l-services-two .service-grids:nth-child(2) {
        margin-top: 35px;
    }

    .w3l-services-two .service-grids {
        align-items: center;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--grid-color);
    }

    .w3l-services-two .service-single-page {
        padding: 0px 0 60px;
    }

    .w3l-services-two .cwp4-text {
        margin-top: 35px;
    }
}

@media all and (max-width: 767px) {
    .w3l-services-two .cwp4-text h3, .w3l-services-two .service-grid h3 {
        color: var(--header-title-color);
        line-height: 40px;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}

@media all and (max-width: 400px) {
    .w3l-services-two .service-single-page {
        padding: 0px 0 40px;
    }
}