@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner about editContent">
            <div class="container">
                <div class="breadcrumbs-sub">
                    <ul class="breadcrumbs-custom-path">
                        <li class="right-side propClone"><a href="index.html" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                        <li class="active editContent">About</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- breadcrumbs //-->
    <section class="w3l-content-with-photo-4" id="about">
        <div class="content-with-photo4-block editContent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="foot-best">
                            <img src="~/images/a1.jpg" alt="product" class="img-responsive about-me">
                            <img src="~/images/a2.jpg" alt="product" class="img-responsive about-me">
                        </div>
                    </div>
                    <div class="my-bio col-lg-5">
                        <h3>Discover the true significance of knowledge.</h3>
                        <p class="para mb-3">
                            Lorem ipsum dolor sit amet deleniti dolore sequi labore similique vitae
                            .inventore deleniti dolore sequi labore similique vitae quae est.
                        </p>
                        <p class="para mb-3">
                            Cum quo maiores asperiores sequi error alias molli aliquid pr Lorem ipsum dolor
                            sit amet conse ctetur adipi sicing elit.inve ntore dele niti dolore sequi labore.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="w3l-stats">
        <div class="main-w3">
            <div class="container">
                <div class="row">
                    <div class="para-para col-lg-6 col-md-6">
                        <div class="two-grids">
                            <div class="icon-back">
                                <span class="fa fa-volume-control-phone"></span>
                            </div>

                            <h3 class="title-big">free call support</h3>

                        </div>
                        <p class="para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit. consectetur
                            adipisicing elit

                    </div>
                    <div class="para-para col-lg-6 col-md-6">
                        <div class="two-grids">
                            <div class="icon-back"><span class="fa fa-diamond"></span></div>
                            <h3 class="title-big">the best Discount</h3>

                        </div>
                        <p class="para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit. consectetur
                            adipisicing elit
                            Consequatur.
                        </p>
                    </div>
                    <div class=" para-para col-lg-6 col-md-6">
                        <div class="two-grids">
                            <div class="icon-back"><span class="fa fa-headphones"></span></div>

                            <h3 class="title-big">Ask Consultancy</h3>

                        </div>

                        <p class="para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit. consectetur
                            adipisicing elit
                            Consequatur.
                        </p>
                    </div>
                    <div class=" para-para col-lg-6 col-md-6">
                        <div class="two-grids">
                            <div class="icon-back"><span class="fa fa-book"></span></div>

                            <h3 class="title-big">largest library</h3>

                        </div>

                        <p class="para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit. consectetur
                            adipisicing elit
                            Consequatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-recent-work">
        <div class="jst-two-col">
            <div class="container">
                <div class="row">
                    <div class="my-bio cwp4-text col-lg-6">
                        <h3>Doing the right thing, at the right time.</h3>
                        <p class="para mt-3 mb-lg-4 ">
                            Adip isci exe rcit atio nem amet dolore expe dita repel
                            lendus Lorem ipsum dolor, sit amet conse ctetur. Odio mole stiae ex aut poss imus.
                        </p>
                        <div class="details-details">
                            <div class="my-bar-grids">
                                <h4>Professionality<span> 90% </span></h4>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 80% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
                                    </div>
                                </div>
                            </div>
                            <div class="my-bar-grids">
                                <h4>Guarantee<span> 60% </span></h4>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 60% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
                                    </div>
                                </div>
                            </div>
                            <div class="my-bar-grids">
                                <h4>Key Of Success<span> 70% </span></h4>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 70% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <img src="~/images/b4.jpg" alt="product" class="img-responsive about-me">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-team-main-6" id="team">
        <!-- /team-grids -->
        <div class="team-content-page editContent ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <div class="picture">
                                <img src="~/images/t1.jpg" alt="product" class="img-responsive about-me">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Madison</h3>
                                <h4 class="title">Management</h4>
                            </div>
                            <ul class="social">
                                <li><a href="url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-google" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <div class="picture">
                                <img src="~/images/t2.jpg" alt="product" class="img-responsive about-me">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Harper</h3>
                                <h4 class="title">Director</h4>
                            </div>
                            <ul class="social">
                                <li><a href="url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-google" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <div class="picture">
                                <img src="~/images/t3.jpg" alt="product" class="img-responsive about-me">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Isabella</h3>
                                <h4 class="title">Administrative</h4>
                            </div>
                            <ul class="social">
                                <li><a href="url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-google" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <div class="picture">
                                <img src="~/images/t4.jpg" alt="product" class="img-responsive about-me">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Charlotte</h3>
                                <h4 class="title">Officers</h4>
                            </div>
                            <ul class="social">
                                <li><a href="url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-google" aria-hidden="true"></span></a></li>
                                <li><a href="url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /team-grids -->
    </section>
</main>