@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Service";
}

<main>
    <!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner services editContent">
            <div class="container">

                <div class="breadcrumbs-sub">
                    <ul class="breadcrumbs-custom-path">
                        <li class="right-side propClone"><a href="index.html" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                        <li class="active editContent">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumbs //-->
    <section class="w3l-recent-work-hobbies" id="services">
        <div class="recent-work editContent">
            <div class="container">
                <div class="row service-service text-center">
                    <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top ">
                        <div class="color-white editContent">
                            <div class="icon-back"><span class="fa fa-users"></span></div>

                            <h5>
                                <a href="#url" class="editContent">
                                    best Teachers
                                </a>
                            </h5>
                            <p class="para editContent">
                                Sit amet consect etur adipi sicing elit. Rem quib usdam corporis,
                                dolores
                                quos, nobis culpa est
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top ">
                        <div class="color-white editContent">
                            <div class="icon-back"><span class="fa fa-book"></span></div>

                            <h5><a href="#url" class="editContent">Book library</a></h5>
                            <p class="para editContent">
                                Sit amet consect etur adipi sicing elit. Rem quib usdam corporis,
                                dolores
                                quos, nobis culpa est
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top ">
                        <div class="color-white editContent">
                            <div class="icon-back"> <span class="fa fa-laptop"></span></div>

                            <h5><a href="#url" class="editContent">Online Courses</a></h5>
                            <p class="para editContent">
                                Sit amet consect etur adipi sicing elit. Rem quib usdam corporis,
                                dolores
                                quos, nobis culpa est
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top ">
                        <div class="color-white editContent">
                            <div class="icon-back"> <span class="fa fa-pencil-square-o"></span></div>

                            <h5>
                                <a href="#url" class="editContent">
                                    Best Certificate
                                </a>
                            </h5>
                            <p class="para editContent">
                                Sit amet consect etur adipi sicing elit. Rem quib usdam corporis,
                                dolores
                                quos, nobis culpa est
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top ">
                        <div class="color-white editContent">
                            <div class="icon-back"> <span class="fa fa-smile-o"></span></div>

                            <h5><a href="#url" class="editContent">Best Discount</a></h5>
                            <p class="para editContent">
                                Sit amet consect etur adipi sicing elit. Rem quib usdam corporis,
                                dolores
                                quos, nobis culpa est
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top ">
                        <div class="color-white editContent">
                            <div class="icon-back"><span class="fa fa-user"></span></div>
                            <h5><a href="#url" class="editContent">Qualified Staff</a></h5>
                            <p class="para editContent">
                                Sit amet consect etur adipi sicing elit. Rem quib usdam corporis,
                                dolores
                                quos, nobis culpa est
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-services-two" id="services">
        <div class="service-single-page editContent">
            <div class="container">
                <div class="service-grids row">
                    <div class="col-lg-6 ">
                        <img src="~/images/b1.jpg" alt="product" class="img-responsive about-me">
                    </div>
                    <div class="cwp4-text col-lg-6 text-left pl-lg-5 align-self">
                        <h6 class="small-title">New courses</h6>
                        <h3>Learning the importance of right courses. </h3>
                        <p class="para editContent text ">
                            Moll itia placeat modi expl icabo volup tatum corporis unde Dicta, provident
                            Rem adipisci Moll itia placeat modi volup tatem tenetur conse quatur.Conseq tenetur conse quatur adipi sicing elit.
                        </p>
                        <a href="about.html" class="action-button btn mt-lg-5 mt-4">Read more</a>
                    </div>
                </div>
                <div class="service-grids row pb-0">
                    <div class="service-grid col-lg-6 text-left pr-lg-5 align-self ">
                        <h6 class="small-title">Boost Your Skills</h6>
                        <h3>One of a kind learning opportunities</h3>
                        <p class="para editContent text ">
                            Moll itia placeat modi expl icabo volup tatum corporis unde Dicta, provident
                            Rem adipisci Moll itia placeat modi volup tatem tenetur conse quatur.Conseq tenetur conse quatur adipi sicing elit.
                        </p>
                        <a href="about.html" class="action-button btn mt-lg-5 mt-4">Read more</a>
                    </div>
                    <div class="cwp4-text col-lg-6 ">
                        <img src="~/images/b8.jpg" alt="product" class="img-responsive about-me">
                    </div>
                </div>
            </div>
        </div>
    </section>  

</main>
