/*-- content-with-photo4 block --*/
.w3l-content-with-photo-4 .content-with-photo4-block {
    padding: 70px 0px;
}

.w3l-content-with-photo-4 .counter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.w3l-content-with-photo-4 .foot-best {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.w3l-content-with-photo-4 h3.title-spe {
    font-size: 18px;
    line-height: 30px;
    color: var(--para-sub-color);
}

.w3l-content-with-photo-4 .grids-speci1 p {
    font-size: 20px;
    line-height: 30px;
    color: var(--para-sub-color);
    display: inline-block;
    font-weight: 600;
}

.w3l-content-with-photo-4 .my-bio h3 {
    color: var(--header-title-color);
    line-height: 45px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

@media all and (max-width: 1080px) {
    .w3l-content-with-photo-4 .my-bio h3 {
        line-height: 40px;
        font-size: 30px;
    }
}

@media all and (max-width: 991px) {
    .w3l-content-with-photo-4 .content-with-photo4-block {
        padding: 60px 0px;
    }

    .w3l-content-with-photo-4 .my-bio {
        margin-top: 25px;
    }
}

@media all and (max-width: 440px) {
    .w3l-content-with-photo-4 .content-with-photo4-block {
        padding: 40px 0px;
    }
}

@media all and (max-width: 384px) {
    .w3l-content-with-photo-4 .my-bio h3 {
        line-height: 40px;
        font-size: 27px;
    }
}

.w3l-stats .main-w3 {
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    padding: 100px 0px;
    align-items: center;
}

    .w3l-stats .main-w3:before {
        width: 100%;
        content: "";
        background: rgba(7, 10, 12, 0.6);
        position: absolute;
        top: 0px;
        bottom: 0px;
        opacity: .6;
        z-index: -1;
    }

.w3l-stats .para-para p {
    color: #ddd;
}

.w3l-stats h3.title-big {
    font-size: 25px;
    line-height: 35px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}

.w3l-stats .icon-back {
    background: #fa26a0;
    transition: .3s ease-in;
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

    .w3l-stats .icon-back span.fa {
        font-size: 20px;
        color: #fff;
        width: 50px;
        line-height: 50px;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

.w3l-stats .two-grids {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    margin-bottom: 15px;
    align-items: center;
}

.w3l-stats .para-para:nth-child(3), .w3l-stats .para-para:nth-child(4) {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .w3l-stats .main-w3 {
        padding: 60px 0px;
    }

    .w3l-stats .title {
        margin-top: 30px;
    }

    .w3l-stats .para-para:nth-child(3), .w3l-stats .para-para:nth-child(4) {
        margin-top: 25px;
    }
}

@media (max-width: 767px) {
    .w3l-stats .two-grids {
        margin-bottom: 10px;
    }

    .w3l-stats .para-para:nth-child(2) {
        margin-top: 25px;
    }
}

@media (max-width: 440px) {
    .w3l-stats .main-w3 {
        padding: 40px 0px;
    }
}

.w3l-recent-work .jst-two-col {
    padding: 70px 0 70px;
    background: var(--back-color);
}

.w3l-recent-work .my-bio h3 {
    color: var(--header-title-color);
    line-height: 45px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.w3l-recent-work .details-details {
    margin-top: 30px;
}

.w3l-recent-work .progress {
    height: .3rem;
}

.w3l-recent-work .my-bar-grids {
    margin: 0px 0px 15px;
}

    .w3l-recent-work .my-bar-grids h4 {
        font-size: 17px;
        line-height: 25px;
        color: var(--title-color);
        margin-bottom: 10px;
        font-weight: 400;
        text-transform: capitalize;
    }

        .w3l-recent-work .my-bar-grids h4 span {
            float: right;
            font-size: 0.9em;
            font-weight: 600;
        }

@media (max-width: 991px) {
    .w3l-recent-work .my-bio {
        margin-bottom: 30px;
    }

    .w3l-recent-work .jst-two-col {
        padding: 60px 0px 60px;
    }
}

@media (max-width: 767px) {
    .w3l-recent-work .my-bio h3 {
        line-height: 40px;
        font-size: 30px;
    }
}

@media (max-width: 440px) {
    .w3l-recent-work .jst-two-col {
        padding: 40px 0px 40px;
    }
}

.w3l-team-main-6 {
    /*team-15 */
    /*--team-single--*/
    /*-- //team--*/
}

    .w3l-team-main-6 .team-content-page {
        padding: 70px 0;
    }

    .w3l-team-main-6 .our-team {
        padding: 30px 0 40px;
        background-color: var(--back-color);
        text-align: center;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }

        .w3l-team-main-6 .our-team .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            margin-bottom: 50px;
            z-index: 1;
            position: relative;
        }

            .w3l-team-main-6 .our-team .picture::before {
                content: "";
                width: 100%;
                height: 0;
                border-radius: 50%;
                background-color: #fa26a0;
                position: absolute;
                bottom: 135%;
                right: 0;
                left: 0;
                opacity: 0.9;
                transform: scale(3);
                transition: all 0.3s linear 0s;
            }

        .w3l-team-main-6 .our-team:hover .picture::before {
            height: 100%;
        }

    .w3l-team-main-6 h3.name {
        color: var(--header-title-color);
        font-size: 25px;
        line-height: 35px;
        text-transform: capitalize;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .w3l-team-main-6 .our-team .picture::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fa26a0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .w3l-team-main-6 .our-team .picture img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.9s ease 0s;
    }

    .w3l-team-main-6 .our-team:hover .picture img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
    }

    .w3l-team-main-6 .our-team .title {
        display: block;
        font-size: 15px;
        color: var(--para-sub-color);
        text-transform: capitalize;
    }

    .w3l-team-main-6 .our-team .social {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #fa26a0;
        position: absolute;
        bottom: -100px;
        left: 0;
        transition: all 0.5s ease 0s;
    }

    .w3l-team-main-6 .our-team:hover .social {
        bottom: 0;
    }

    .w3l-team-main-6 .our-team .social li {
        display: inline-block;
    }

        .w3l-team-main-6 .our-team .social li a span {
            display: block;
            padding: 10px;
            font-size: 17px;
            color: white;
            transition: all 0.3s ease 0s;
            text-decoration: none;
        }

            .w3l-team-main-6 .our-team .social li a span:hover {
                color: #05dfd7;
            }

@media (max-width: 991px) {
    .w3l-team-main-6 .team-content-page {
        padding: 60px 0;
    }

    .w3l-team-main-6 .team-team:nth-child(3), .w3l-team-main-6 .team-team:nth-child(4) {
        margin-top: 25px;
    }
}

@media (max-width: 991px) {
    .w3l-team-main-6 .team-team:nth-child(2) {
        margin-top: 25px;
    }
}

@media (max-width: 440px) {
    .w3l-team-main-6 .team-content-page {
        padding: 40px 0;
    }
}
